<footer class="ftco-footer ftco-section" id="contact-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-lg-9 d-flex align-items-center ftco-animate">
        <h2 class="text-white">I'm <span>Available</span> For Freelancing</h2>
      </div>
      <div class="col-md-4 col-lg-3 d-flex align-items-center ftco-animate">
        <p class="mb-0"><a href="mailto:{{ site.email }}" class="btn btn-white py-4 px-5">Say Hi!</a></p>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-md">
        <div class="ftco-footer-widget">
          <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
            
            <li class="ftco-animate">
        
              <a href="https://www.linkedin.com/in/enrico-tan-iii-98123b53/"><span class="icon-linkedin"></span></a>
            </li>
            <li class="ftco-animate">
        
              <a href="https://dribbble.com/ertsybot"><span class="icon-dribbble"></span></a>
            </li>
            <li class="ftco-animate">
        
              <a href="https://twitter.com/enricortd"><span class="icon-twitter"></span></a>
            </li>
            <li class="ftco-animate"><a href="https://twitter.com/enricottaniii"><span class="icon-facebook"></span></a></li>
            <li class="ftco-animate"><a href="https://www.instagram.com/ertsybot/"><span class="icon-instagram"></span></a></li>
          </ul>
        </div>
      </div>
    </div>
   
  </div>
</footer>
