// -----------------------------------------------------------------------------
// This file contains all styles related to the navigtion of the site/application.
// -----------------------------------------------------------------------------




/* ===================================
    Navbar
====================================== */
.propClone {
	a {
		h5 {
			font-size: 18px;
		}
	}

	a:hover {
		border-radius: 5px;
		h5 {
			color: $main;

	}
	}
}
.navbar {padding: 20px 0 20px; z-index: 999; width: 100%; border-radius: 0; border: 0;}
.navbar img {max-height:35px}
.navbar li {margin:13px 20px;}
.navbar li:last-child { margin-right: 0;}
.navbar li a {font-size: 12px; padding: 0;cursor: pointer !important; border-bottom: 1px solid transparent; }
.navbar li a:hover {opacity: 0.8;}
.navbar li a.active {opacity: 0.8;}
.navbar .nav-button { margin: 10px 0 8px 0px;}
.navbar .nav-button i {margin-right:5px}
.navbar .nav-button a { padding: 3px 17px 2px !important; border: 1px solid transparent; font-size: 10px}
.navbar-collapse { padding: 0;}
header .container { position: relative;}
header .row { align-items: center; display: flex; height: auto;}
.header-margin-top { margin-top: 86px; }
.navbar.shrink-nav { position: fixed !important; top: 0; }
.navbar.shrink-nav.shrink { padding: 11px 0; border-bottom: 1px solid rgba(0,0,0,0.1) }
.header-margin-top-big { margin-top: 134px; }
.header-margin-top-medium { margin-top: 138px; }
.navbar.shrink-nav.shrink .header-bottom { padding: 11px 0;}

.flags {
	margin-top: -5px !important;
	li {
		margin: 0 !important;
		padding: 0 !important;
		img {
			max-width: 20px;
		}
	}
}