p.p-note {
    margin: none !important;
    margin-left: 0px !important;
}
.border-round-b {
    border: solid 1px $main;
    border-radius: 15px;
    color: $black;
    p {
        margin-left: 20px;
    }
}

#specification-section {

	font-family: 'Montserrat', sans-serif;
	padding-top: 30px;
	padding-bottom: 50px;
	.hr-border {
			border-top: solid 1px $subgray !important;
			padding-top: 20px;
	}
	h4 {
		font-size: 28px;
		font-weight: 600;

	}

	.legend {
		margin-top: 20px;
		margin-bottom: 50px;
		font-family: 'Montserrat', sans-serif;
		h3 {
			font-size: 24px;
			font-weight: 600;
		}
		h4 {
			font-size: 20px;
			font-weight: 600;
		}
		h5 {
			font-size: 14px;
			font-weight: 300;
		}
	}
}

.text-indent {
    padding-left: 30px;
}
.color-blue {
    color: $main;
}
.color-red {
    color: #f50000;
}

.column-labels label {
	font-size: 14px;
	color: $maingray;
}

.p-details {

	font-family: 'Montserrat', sans-serif;
    .detail-weight {
        font-size: 12px;
        color: $maingray;
        font-style: italic;
        line-height: 20px;
    }
    span.cost {
        font-size: 18px;
    }
	h2 {
		color: $main;
		font-size: 36px;
		margin-bottom: 5px;
        span {
            color: $black;
            font-weight: 400;
        }
        .span-thin {
            font-weight: 200;
        }
	}
	h3 {
		color: $maingray;
		font-size: 28px;
		margin-bottom: 10px;
	}
}


.product-area {
	padding-top: 50px;
	padding-bottom: 50px;

	ul.coolbeans li{
		display: inline !important;
		list-style: none !important;
	}
        ul.slide {
            list-style: none outside none;
            padding-left: 0;
            margin-bottom:0;
        }
        li {
            display: block;
            float: left;
            margin-right: 6px;
            cursor:pointer;
        }
        img {
            display: block;
            height: auto;
            max-width: 100%;
        }
	.product-image-bg {
		// padding: 20px;
		// border: 1px solid #ccc;
		border-radius: 10px;
		min-height: 200px;
		min-width: 200px;
        .demo {
        width: 100%;
        max-width:450px;
        height: auto;
        }
        ul {
            list-style: none outside none;
            padding-left: 0;
            margin-bottom:0;
        }
        li {
            display: block;
            float: left;
            margin-right: 6px;
            cursor:pointer;
        }
        img {
            display: block;
            height: auto;
            max-width: 100%;
        }
		img {

		}

	}

}

.feature-area {
	background: $subgray;
	padding-left: 30px;
	border-radius: 10px !important;
	min-height: 40 \0px;
	margin-bottom: 60px;
	h2 {
		font-size: 24px;
		color: $maingray;
		margin-left: 30px;
	}

}



@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        // margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}