.dropdown-menu-flag {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 30px !important;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    border: 0px solid #fff !important;
    border-radius: 0px !important;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0) !important;
    box-shadow: 0 6px 12px rgba(0,0,0,0) !important;
}


.flags {
	img {
		max-width: 20px !important;
	}
}


.btn-dual {
	.btn {
		min-width: 130px !important;
	}
	.btn-width {
		min-width: 130px !important;
	}
}
.btn-full {
	min-width: 130px;
	width: 100%;
}
.close {
	position: relative; 
	z-index: 100;
}
a.btn-width {
	min-width: 200px !important;

}
.button-add {
	width: 200px;
	margin: 0 auto;
}
.btn-create-m {
	color: $white;
	background: $main;
}
.shopping {
	margin-top: 10px;
	padding-top: 12px;
	padding-left: 30px;
	padding-right: 30px;
	color: $white;
	background: $main;
	text-align:center;
	border-radius: 30px;
	height: 50px;
	border: solid 2px $main;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 2px;
 	font-family: 'Montserrat', sans-serif;
}

.shopping:hover {
	background: $black;
	color: $white;
	border: solid 2px $black;
}

.checkout2 {
	margin-top: 10px;
	padding-top: 12px;
	padding-left: 30px;
	padding-right: 30px;
	color: $white;
	background: $black;
	text-align:center;
	border-radius: 30px;
	height: 50px;
	border: solid 2px $black;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 2px;
 	font-family: 'Montserrat', sans-serif;
}
.checkout2:hover {
	background: $main;
	color: $white;
	border: solid 2px $white;
}


.btn-cart {
	padding: 20px;
	background: $black;
	border: 0px solid;
	color: $white;	
	min-width: 250px;
}



.btn-cart:hover {
	padding: 20px;
	background: none;
	border: 2px solid $main;
	color: $main;	
	min-width: 250px;
}

.checkout {

	margin-top: 10px;
	padding-left: 30px;
	padding-right: 30px;
	color: $white;
	background: $black;
	text-align:center;
	border-radius: 30px;
	height: 60px;
	border: solid 2px $black;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 2px;
 	font-family: 'Montserrat', sans-serif;
}
.checkout:hover {
	background: $white;
	color: $main;
	border: solid 2px $maingray;
}

.btn-create-m {
	text-align:center;
	margin: 10px auto !important;
	border-radius: 30px;
	border: solid 2px $white;
	height: 60px;
	font-size: 16px;
	padding-right: 50px;
	padding-left: 50px;
	min-width: 250px;
	width: 100%;
	max-width: 300px;
	text-transform: uppercase;
	letter-spacing: 2px;
 	font-family: 'Montserrat', sans-serif;
 	.icon {
 		margin-right: 10px;
 	}
}

.btn-create-m:focus	{
	outline: 0;
}

.btn-more-info {
	text-align:center;
	background: $white;
	border-radius: 30px;
	border: solid 2px $main;
	color: $maingray;
	height: 50px;
	font-size: 16px;
	width: 100%;
	width: 200px;
	text-transform: uppercase;
	letter-spacing: 2px;
 	font-family: 'Montserrat', sans-serif;
 	.icon {
 		margin-right: 10px;
 	}
}

.btn-create-m:hover {
	background: $dark;
	color: $white;
	border: solid 2px $white;
}

.btn-more-info:hover {
	background: $main;
	color: $white;
	border: solid 2px $white;
}
.btn.btn-add-to-cart {
    /*background-color: #4d90fe; */
    font-family: 'Montserrat', sans-serif;
    width: 100%;
 	max-width: 300px;  
    color: $white;
    border-radius: 25px !important;
    letter-spacing: 4px;
    text-transform: uppercase;
    background-color: $main;
    padding: 0px;
    font-weight: 400;
    font-size: 16px;
    height: 45px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}



.btn.btn-signin, .btn.btn-signup {
    /*background-color: #4d90fe; */
    font-family: 'Montserrat', sans-serif;
    width: 100%;
   
    color: $white;
    border-radius: 25px !important;
    letter-spacing: 4px;
    text-transform: uppercase;
    background-color: $main;
    padding: 0px;
    font-weight: 400;
    font-size: 16px;
    height: 45px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}
.btn.btn-add-to-cart:hover,
.btn.btn-add-to-cart:active,
.btn.btn-add-to-cart:focus {
    background-color: $maingray;
}
.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: $maingray;
}
.btn.btn-signup:hover,
.btn.btn-signup:active,
.btn.btn-signup:focus {
    background-color: $maingray;
}



// for the add and subtract
 #myform {
	text-align: center;
	padding-top: 0px;
	border: 2px solid $main;
	border-radius: 35px;
	height: 60px;


	}
	.qty {
	border: none;
	font-size: 28px;
	background: none;
	width: 80px;
	height:40px;
	text-align: center;
	}
	input.qtyplus { 
		width:35px; 
		height:40px; 
		font-weight:bold; 
		font-size: 32px; 
		border: none; 
		background: none;
	}
	input.qtyminus { 
		width:25px; 
		height:40px; 
		font-weight:bold; 
		font-size: 32px; 
		border: none; 
		background: none;
	}
	input.qty:focus, input.qtyminus:focus, input.qtyplus:focus {
	outline: none;
	}




	// Captcha button starts here



.submit__generated {
  display: inline-block;
  
  span {
    display: inline-block;
    width: 35px;
    height: 35px;
    vertical-align: center;
    line-height: 35px;
    font-weight: bold;
    font-size: 16px;
    color: rgba(0,0,0,0.9);
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;  
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 4px;
  }
  
  &.valid:after,
  &.unvalid:after {
    font-family: FontAwesome;
    font-size: 18px;
    margin-left: 10px;
  }
  &.valid {
    &:after {
      content: "\f00c";
      color: #2ecc71;
    }
    .submit__input {
      border: 1px solid #2ecc71;
      color: #2ecc71 !important;
    }
  }
  &.unvalid {
    &:after {
      content: "\f00d";
      color: #e74c3c;
    }
    .submit__input {
      border: 1px solid #e74c3c;
      color: #e74c3c;
    }
  }

  .submit__input {
    position: relative;
    outline: 0;
    height: 35px;
    width: 65px;
    border-radius: 4px;
    border: 1px solid #42A0DD;
    color: #42A0DD;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    top: -2px;
  }
}


i.fa-refresh {
  margin: 4px 0 0px 5px;
  padding: 5px;
  font-size: 18px;
  color: rgba(0,0,0,0.2);
  cursor: pointer;
  transform-origin: center center;
  transition: transform 0.2s ease-out, color 0.2s ease-out;
  &:hover {
    color: rgba(0,0,0,0.4);
    transform: rotate(180deg);
  }
}

span.submit__error,
span.submit__error--empty {
  color: #e74c3c;
  margin-bottom: 10px;
  margin-top: -20px;
  display: block;
}


.submit {
  display: block;
  padding: 7px 15px;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  outline: none;
  border: 0;
 
  opacity: 1;
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;

  &:hover {
    background-color: #3498db;
  }
  &:active,
  &.enter-press,
  &.overlay {
    margin:auto 46px auto;
    box-shadow: none;
  }
}


	.submit__overlay {

		height: 50px;
		max-width: 200px;
		width: 100%;
		margin-left: 25%;
		background-color: rgba(246,246,246,0.8);
		position: absolute;
		margin-top: -50px;
		
	}


.low-opa { opacity: 0.4; }
.fadeOut {
  opacity: 0;
  transform: translateY(10px);
}
.fadeIn {
  opacity: 1 !important;
  transform: translateY(0px) !important;
}
.form-fields,
.form-success {
  transition: all 0.2s ease-out;
}
.form-success {
  opacity: 0;
  transform: translateY(-10px);
  margin-top: 20px;
}


// CAPTCHA ENDS HERE






  // Captcha button starts here



.submit__distributor {
  display: inline-block;
  
  span {
    display: inline-block;
    width: 35px;
    height: 35px;
    vertical-align: center;
    line-height: 35px;
    font-weight: bold;
    font-size: 16px;
    color: rgba(0,0,0,0.9);
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;  
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 4px;
  }
  
  &.valid:after,
  &.unvalid:after {
    font-family: FontAwesome;
    font-size: 18px;
    margin-left: 10px;
  }
  &.valid {
    &:after {
      content: "\f00c";
      color: #2ecc71;
    }
    .submit__input2 {
      border: 1px solid #2ecc71;
      color: #2ecc71 !important;
    }
  }
  &.unvalid {
    &:after {
      content: "\f00d";
      color: #e74c3c;
    }
    .submit__input2 {
      border: 1px solid #e74c3c;
      color: #e74c3c;
    }
  }

  .submit__input2 {
    position: relative;
    outline: 0;
    height: 35px;
    width: 65px;
    border-radius: 4px;
    border: 1px solid #42A0DD;
    color: #42A0DD;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    top: -2px;
  }
}


i.fa-refresh {
  margin: 4px 0 0px 5px;
  padding: 5px;
  font-size: 18px;
  color: rgba(0,0,0,0.2);
  cursor: pointer;
  transform-origin: center center;
  transition: transform 0.2s ease-out, color 0.2s ease-out;
  &:hover {
    color: rgba(0,0,0,0.4);
    transform: rotate(180deg);
  }
}

span.submit__error2,
span.submit__error2--empty {
  color: #e74c3c;
  margin-bottom: 10px;
  margin-top: -20px;
  display: block;
}


.submit {
  display: block;
  padding: 7px 15px;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  outline: none;
  border: 0;
 
  opacity: 1;
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;

  &:hover {
    background-color: #3498db;
  }
  &:active,
  &.enter-press,
  &.overlay {
    margin:auto 46px auto;
    box-shadow: none;
  }
}


  .submit__overlay2 {

    height: 50px;
    max-width: 200px;
    width: 100%;
    margin-left: 25%;
    background-color: rgba(255,255,255,0.8);
    position: absolute;
    margin-top: -50px;
    
  }


.low-opa { opacity: 0.4; }
.fadeOut {
  opacity: 0;
  transform: translateY(10px);
}
.fadeIn {
  opacity: 1 !important;
  transform: translateY(0px) !important;
}
.form-fields,
.form-success {
  transition: all 0.2s ease-out;
}
.form-success {
  opacity: 0;
  transform: translateY(-10px);
  margin-top: 20px;
}













