---
layout: default
---

<section class="ftco-about ftco-counter img ftco-section" id="about-section">
  <div class="container">
        <div class=" justify-content-start pt-200 pb-3">
          <div class=" heading-section ftco-animate">
            <span class="subheading">ertsybot</span>
            <h2 class="mb-4" style="font-size: 34px; text-transform: capitalize;">Hello! I'm <span class="text-highlight">Enrico Tan III</span></h2>
            <p>A Designer focusing into UX, UI & frontend development from Philippines - a team player who always aim to offer design services and solve design problems.</p>
          </div>
        </div>
       

      <div class="row">
          <div class="float-right col-12 col-lg-12">
              <div class="d-flex align-items-left justify-content-left mb-50">
                  <div class="brk-animated-circle brk-animated-circle-1" style="left:auto;top:auto; float: right bottom:auto" data-brk-library="component__backgrounds_css">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="417" height="416" viewBox="0 0 417 416">
                      <defs>
                        <path id="backgrounds-id-1" d="M134.56 5718.66c114.7 0 207.67 92.98 207.67 207.67 0 114.7-92.98 207.67-207.67 207.67-114.7 0-207.67-92.98-207.67-207.67 0-114.7 92.98-207.67 207.67-207.67z" />
                        <clipPath id="backgrounds-id-2">
                          <use fill="#fff" xlink:href="#backgrounds-id-1" />
                        </clipPath>
                      </defs>
                      <g>
                        <g opacity=".3" transform="translate(74 -5718)">
                          <use fill="#fff" fill-opacity="0" stroke="#000" stroke-dasharray="0 16" stroke-linecap="round" stroke-miterlimit="50" stroke-width="4" clip-path="url(&quot;#backgrounds-id-2&quot;)" xlink:href="#backgrounds-id-1" />
                        </g>
                      </g>
                    </svg>
                    <div class="brk-animated-circle__container">
                      <span class="brk-animated-circle__dot-1"></span>
                    </div>
                  </div>
                </div>
            
          </div>
      </div>
  </div>
</section>

<section class="ftco-section bg-light" id="whatido-section">
  <div class="container">
    
    <div class="row justify-content-center py-5 mt-5">
      <div class="col-md-12 heading-section text-center ftco-animate">
        <span class="subheading">What I Do</span>
        <h2 class="mb-4">Design Ideation - Production</h2>
        <p>I have 5+ Years Experience working from freelance to startup and upto Corporate.</p>
        <h4>Case Studies coming soon.</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 text-center d-flex ftco-animate">
        <div class="services-1">
          <span class="icon">
            <i class="flaticon-analysis"></i>
          </span>
          <div class="desc">
            <h3 class="mb-5"><a href="#">Explore</a></h3>
            <h4>Design Sprints</h4>
            <h4>Product Strategy</h4>
            <h4>UX Strategy</h4>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center d-flex ftco-animate">
        <div class="services-1">
          <span class="icon">
            <i class="flaticon-flasks"></i>
          </span>
          <div class="desc">
            <h3 class="mb-5"><a href="#">Create</a></h3>
            <h4>Information</h4>
            <h4>UX/UI Design</h4>
            <h4>Branding</h4>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center d-flex ftco-animate">
        <div class="services-1">
          <span class="icon">
            <i class="flaticon-ideas"></i>
          </span>
          <div class="desc">
            <h3 class="mb-5"><a href="#">Learn</a></h3>
            <h4>Prototyping</h4>
            <h4>User Testing</h4>
            <h4>UI Testing</h4>
          </div>
        </div>
      </div>
      
 
    </div>
  </div>
</section>











  {{ content }}
