@media (max-width: 1300px) {
    
}

@media (max-width: 1199px) {
  
}

@media (max-width: 1050px) {

   
}

@media (max-width: 991px) {
    .slider-text-middle {
        margin-top: 100px !important;
    }
    .owl-pagination {
        bottom: 20px !important;
    }
   
}

@media (max-width: 767px) {

    .slider-text-middle {
        vertical-align: top !important;
        padding-top:30px;
        text-align: center;
    }
       .video-wrapper {
        margin-bottom: 15px !important;
        float: none !important;
        height: 420px !important;
        margin-bottom: 20px;
        max-width: 320px !important;
        margin: 0 auto;
    }
 
}

@media (max-width: 640px) {
.owl-pagination {
    bottom: 20px !important;
}
.video-wrapper {
    margin-bottom: 15px !important;
    float: none !important;
    height: 420px !important;
    margin-bottom: 20px;
    max-width: 280px !important;
    margin: 0 auto;
}

    /* Totals section */
.totals {
  .totals-item {
    float: right;
    clear: both;
    width: 100%;
    margin-bottom: 10px;
    
        label {
          float: left;
          clear: both;
          width: 75%;
          text-align: right;
        }
        
        .totals-value {
          float: right;
          width: 25%;
          text-align: right;
        }
  }
  
}


    
}

@media (max-width: 480px) {
   
.rc-anchor-light.rc-anchor-normal {
    max-width: 250px !important;
}
}

@media (max-width: 419px) {
 
}

@media (max-width: 380px) {
    

}
@media screen and (max-width: 320px) {
 
}

@media screen and  (orientation : landscape) {
   
}





